.blog-container {
    margin: 50px;
    width: 80%;
}

.post-content {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: start;
    font-size: 12px;

}

.post-content img {
    height: 200px;
    width: 200px;
    margin-right: 20px;
    margin-top: 18px;
    border-radius: 50%;
    object-fit: cover;
    
}

.blog-post {
    margin: 20px 0px;
    padding: 24px;
}

.blog-post h3 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 24px;
}

.post-footer {
    font-size: 10px;
}

@media screen and (max-width: 768px) {
    .post-content {
        flex-direction: column;
    }

    .post-content img {
        height: 60vw;
        width: 60vw;
        margin-right: 0px;
        margin-top: 0px;
    }
    
}