.blog-container {
    margin: 50px;
    width: 80%;
}

.post-content {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: start;
    font-size: 12px;

}

.post-content img {
    height: 200px;
    width: 200px;
    margin-right: 20px;
    margin-top: 18px;
    border-radius: 50%;
    object-fit: cover;
    
}

.blog-post {
    margin: 20px 0px;
    padding: 24px;
}

.blog-post h3 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 24px;
}

.post-footer {
    font-size: 10px;
}

.blog-article {
    margin: 20px 0px 50px 0px;
    padding: 24px;
    font-size: 14px;
    width: 80%;
    margin: 0 auto;
}

.blog-article img {
    max-height: 500px;
    max-width: 500px;
    margin: 50px auto;
    display: block;
    object-fit: cover;
}

.blog-article button
{
    margin: 50px auto;
}

@media screen and (max-width: 768px) {
    .post-content {
        flex-direction: column;
    }

    .post-content img {
        height: 60vw;
        width: 60vw;
        margin-right: 0px;
        margin-top: 0px;
    }

    .blog-container {
        width: 100%;
        margin: 0px;
    }

    .blog-article {
        width: 90%;
        margin: 0px auto;
        padding: 0px;
    }

    .blog-article h1
    {
        margin: 48px 0px 0px 0px;
        font-size: 24px;
    }

    .blog-article img {
        max-height: 100%;
        max-width: 100%;
        margin: 50px auto;
    }
    
    
}