.contacts-page {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 50vh;
    width: 60%;
    margin: 150px auto;
    vertical-align: text-top;
}

.contacts-left-column
{
    display: flex;
    flex-direction: column;
    align-items: right;

    width: 50%;
    height: 100%;
}

.contacts-right-column
{
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 80%;
    height: 100%;
}

/* CSS for the Contact Form */
.contact-form {
    width: 100%;
    margin: 0px auto;
    background-color: white;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

  }


@media screen and (max-width: 768px)
{
    .contacts-page
    {
        flex-direction: column;
        height: 80vh;
    }

    .contacts-left-column
    {
        width: 100%;
    }

    .contacts-right-column
    {
        width: 100%;
        align-items: center;
        justify-content: center;
    }

    
}
