header {
    color: rgb(41, 41, 41);
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 50px;
    margin: 0px;
    height: 120px;
    width: 100%;
    box-sizing: border-box;


}
.header-logo-container 
{
    font-size: 1.5em;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction:  row;
    align-items: center;
    justify-content: center;
    width: 512px;
}

.header-logo-container h1
{
    text-decoration: none;
    font-size: 24px;
}

header .Link
{
    color: rgb(27, 27, 27);
    text-decoration: none;
}

.header-logo
{
    width: 64px;
    height: 64px;
    margin: 2px;
    filter: drop-shadow(0px 0px 8px rgba(255, 255, 255, 0.541));

}

header h1 {
    text-align: center;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 40px;
}


header nav a {
    color: rgb(22, 22, 22);
    text-decoration: none;
    padding: 1em;
}

header nav a:hover {
    background-color: #555;
}

header nav li {
    list-style-type: none;
    margin: 10px;
}

header button
{
    background-color: #555;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

header button:hover
{
    background-color: #333;
}


@media screen and (max-width: 768px)
{
    header
    {
        flex-direction: column;
        height: 200px;
    }

    .header-logo-container
    {
        width: 100%;
        margin: 0px;
        padding: 0px;
    }

    header nav
    {
        flex-direction: column;
        margin: 0px;
        padding: 0px;
    }

    header nav a
    {
        padding: 0px;
        margin: 0px;
    }

    header nav li
    {
        margin: 0px;
        padding: 0px;
    }

    header button
    {
        margin: 10px;
    }
    
}


