.carousel {
    overflow: hidden;
    position: relative;
    height: 100vh; /* Adjust the height as needed */
  }
  
  .carousel-inner {
    display: flex;
    transition: transform 0.5s ease;
    width: 100%;
  }
  
  .carousel-inner img {
    width: 100%;
    flex-shrink: 0;
    height: 100vh; /* This ensures all images are the same height */
    object-fit: cover; /* Adjusts the size of the image to cover the area */
  }
  
  .left-arrow, .right-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(255, 255, 255, 0.226) !important;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 24px;
    z-index: 0;
    width: 50px;
    height: 250px;
  }
  
  .left-arrow {
    left: 10px;
  }
  
  .right-arrow {
    right: 10px;
  }
  
  @media screen and (max-width: 968px) {
    .left-arrow, .right-arrow {
      width: 10px;
      height: 50px;
      
    }
    
  }